{varType string $height}
{varType string $className}
{varType string $style}
{varType string $spaceY}

{php
    $height ??= '1px';
    $spaceY ??= '24px';
    $className ??= '';
    $style = 'height: ' . $height . '; line-height: ' . $height . ';' . ($style ?? '');
}

<div role="separator" n:class="$className" style="{$style}">&zwj;</div>
