{varType string $height}
{varType string $className}
{varType string $style}

{php
    $height ??= '24px';
    $className ??= '';
    $style = 'line-height: ' . $height . ';' . ($style ?? '');
}

<div role="separator" n:class="$className" style="{$style}">&zwj;</div>
