{varType string $description}
{varType string $token}

{extends ./../../@layout.latte}

{block head}
    {include parent}
    <meta name="description" content="{$description}">
{/block}

{block content}
    <div id="vue-user-activation" data-token="{$token}"></div>
{/block}