services:
    entityManager: App\Database\EntityManager
    - App\Console\UserCreateCommand

includes:
    - ./../vendor/strategio/megio-core/config/app.neon
    - ./../vendor/strategio/megio-core/config/events.neon

extensions:
    doctrine: Megio\Extension\Doctrine\DoctrineExtension
    events: Megio\Extension\Events\EventsExtension
    latte: Megio\Extension\Latte\LatteExtension