services:
    entityManager: App\Database\EntityManager
    - Megio\Queue\QueueWorkerEnumFactory(App\Worker\QueueWorker)
    - App\Console\UserCreateCommand

includes:
    - ./../vendor/strategio/megio-core/config/app.neon
    - ./../vendor/strategio/megio-core/config/events.neon

events:
    - App\Subscriber\Collection\OnUserCreated
    #- Megio\Subscriber\RedirectToWww

extensions:
    doctrine: Megio\Extension\Doctrine\DoctrineExtension
    events: Megio\Extension\Events\EventsExtension
    latte: Megio\Extension\Latte\LatteExtension