{*
 * Copyright (c) 2022 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.dev, jz@strategio.dev)
 *}

{extends './../@layout.latte'}

{block head}
    {include parent}
    <title>Home | Strategio SaaS</title>
{/block}

{block content}
    {include './../component/remove-this.latte'}
{/block}