services:
    - App\User\Console\UserCreateCommand
    - App\User\Console\UserRoleAssignCommand
    - App\User\Resolver\UserTokenResolver
    - App\User\Mail\UserRegistrationMailer
    - App\User\Mail\PasswordResetMailer
    - App\User\Worker\UserPasswordResetMailWorker
    - App\User\Facade\UserAuthFacade

events:
    - App\User\Subscriber\Kernel\DisableMegioUserLogin