services:
    - App\User\Console\UserCreateCommand
    - App\User\Console\UserRoleAssignCommand
    - App\User\Resolver\UserTokenResolver
    - App\User\Resolver\AuthTokenResolver
    - App\User\Facade\RegisterUserFacade
    - App\User\Facade\ActivateUserFacade
    - App\User\Facade\LoginUserFacade
    - App\User\Facade\ForgotPasswordFacade
    - App\User\Facade\ResetPasswordFacade
    - App\User\Facade\RefreshTokenFacade
    - App\User\Mail\UserRegistrationMailer
    - App\User\Mail\PasswordResetMailer

events:
    - App\User\Subscriber\Kernel\DisableMegioUserLogin