{varType string $title}
{varType string $description}

{extends './../../@layout.latte'}

{block head}
    {include parent}
    <title>Home | {$title}</title>
    <meta name="description" content="{$description}">
{/block}

{block content}
    {include './../component/remove-this.latte'}
{/block}